.blackContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
}

.backgroundContainer {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: 80vh;
    background-attachment:inherit;
    background-size: cover;
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
    overflow: hidden;
    
}

.detailContainer {
    height: 90vh;
    background: rgb(26 25 25 / 80%);
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    position: relative;
    backdrop-filter: blur(7px);
} 

.infoName {
    display: flex;
    justify-content: center;
}
.detailName {
    font-size: 3em;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
}

.numDex {
    font-size: 3em;
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
}

.firstContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;
}

.description {
    color: white;
    font-size: 2.5vh;
}

.holderDescription {
    width: 30%;
}